<div class="grid_16">
    <h2>
		Dashboard
	</h2>
	<hr />
</div>
<div class="clear"></div>
<div class="grid_8">
	<div class="box equalize_1">
    <% if !@current_account.mailchimp_key.blank? %>
		<h3>
			Whatcha wanna do?
		</h3>
		<hr />
		<p>
			Chose one of the following options...
		</p>
		<div class="float_left width_50">
			<%= link_to "", synchronize_new_step_1_path, :id => "button_sync" %>
		</div>
		<div class="float_right width_50 align_right">
			<%= link_to "", lists_path, :id => "button_lists" %>
		</div>
		<div class="clear"></div>
    <% else %>
		<h3>
			Let's get started...
		</h3>
		<hr />
		<p>
			Before you begin, we need your MailChimp API key.
		</p>
        <p>
            <%= link_to "Enter your MailChimp API key", edit_account_path %>
        </p>
    <% end %>
	</div>
</div>
<div class="grid_8">
	<div class="box equalize_1">
		<h3>
			Hello there!
		</h3>
		<hr />
		<p>
			Welcome to <em>FT Campaigner</em>.
		</p>
		<p>
			By using this application, you can keep your Fellowship One and MailChimp lists in sync. This helps to cut down on the headaches of manually adding, maintaining, and pruning lists of individuals.
		</p>
	</div>
</div>