<%= form_tag(user_sessions_path, :method => :post) do %>
	<div class="grid_6 prefix_5 suffix_5">
		<div class="box">
			<fieldset>
				<label for="church_code">
					Please enter your <strong>church code</strong>
				</label>
				<br />
				<input type="text" autofocus="autofocus" id="church_code" name="church_code" class="input_full big" />
			</fieldset>
			<p>
				<%= submit_tag "Sign in" %>
			</p>
		</div>
	</div>
<% end %>